<a href="https://colab.research.google.com/github/Darktechie-programmer/Deep_learning/blob/master/ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### Keras :
         * Keras is an open-source neural-network library written in Python. It is capable of running on top of TensorFlow, Microsoft Cognitive Toolkit, Theano, or PlaidML. Designed to enable fast experimentation with deep neural networks, it focuses on being user-friendly, modular, and extensible.

#### Tensorflow :
    * TensorFlow is a free and open-source software library for dataflow and differentiable programming across a range of tasks. It is a symbolic math library, and is also used for machine learning applications such as neural networks.

### Artificial Neural Network

In [0]:
# part 1 - Data Preprocessing

In [0]:
# importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [8]:
# Importing the dataset
dataset = pd.read_csv("sample_data/Churn_Modelling.csv")
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [9]:
dataset.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [0]:
X = dataset.iloc[:,3:13]
y = dataset.iloc[:,-1]

In [11]:
X.head()

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619    France  Female  ...          1               1        101348.88
1          608     Spain  Female  ...          0               1        112542.58
2          502    France  Female  ...          1               0        113931.57
3          699    France  Female  ...          0               0         93826.63
4          850     Spain  Female  ...          1               1         79084.10

[5 rows x 10 columns]

In [0]:
# Create Dummy variables...
geography = pd.get_dummies(X["Geography"],drop_first=True)
gender = pd.get_dummies(X['Gender'],drop_first=True) # drop_first : it drop first dummy for multicoleanerity reason....

In [13]:
# Concatenate the Data Frames
X = pd.concat([X,geography,gender],axis=1)
X.head()

   CreditScore Geography  Gender  Age  ...  EstimatedSalary  Germany  Spain  Male
0          619    France  Female   42  ...        101348.88        0      0     0
1          608     Spain  Female   41  ...        112542.58        0      1     0
2          502    France  Female   42  ...        113931.57        0      0     0
3          699    France  Female   39  ...         93826.63        0      0     0
4          850     Spain  Female   43  ...         79084.10        0      1     0

[5 rows x 13 columns]

In [0]:
# Drop Unnecessary columns
X = X.drop(columns=['Geography','Gender'],axis=1)

In [15]:
X.head()
# X.columns

   CreditScore  Age  Tenure    Balance  ...  EstimatedSalary  Germany  Spain  Male
0          619   42       2       0.00  ...        101348.88        0      0     0
1          608   41       1   83807.86  ...        112542.58        0      1     0
2          502   42       8  159660.80  ...        113931.57        0      0     0
3          699   39       1       0.00  ...         93826.63        0      0     0
4          850   43       2  125510.82  ...         79084.10        0      1     0

[5 rows x 11 columns]

In [0]:
# Spliting dataset into traing set to testing set....
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [0]:
# Feature Scaling 
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [0]:
# part 2 - Now let's make ANN

In [19]:
# Importing the keras libraries and packages..
import keras
from keras.models import Sequential  # most use...
from keras.layers import Dense   # for creating hidden layers use it..
# from keras.layers import LeakyReLU,PReLU,ELU 
from keras.layers import Dropout

Using TensorFlow backend.

In [0]:
# Initialising the ANN
classifier = Sequential()

In [0]:
# Adding the input layer and the first hidden layer..
classifier.add(Dense(units=6, kernel_initializer="he_uniform",activation='relu',input_dim=11))

In [0]:
# Adding the second hidden layer
classifier.add(Dense(units=6, kernel_initializer="he_uniform", activation='relu'))

In [0]:
# Adding the output layer
classifier.add(Dense(units=1, kernel_initializer="glorot_uniform", activation='sigmoid'))

In [0]:
# compiling the ANN
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [25]:
classifier.summary() # get the summary

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 6)                 72
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [28]:
# Fitting the ANN to the Training set 
model_history = classifier.fit(X_train, y_train, validation_split=0.33, batch_size=10, nb_epoch=100)

Train on 5359 samples, validate on 2641 samples
Epoch 1/100
1230/5359 [=====>........................] - ETA: 0s - loss: 0.3174 - accuracy: 0.8650

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

5359/5359 [==============================] - 1s 147us/step - loss: 0.3281 - accuracy: 0.8642 - val_loss: 0.3531 - val_accuracy: 0.8580
Epoch 2/100
5359/5359 [==============================] - 1s 159us/step - loss: 0.3278 - accuracy: 0.8638 - val_loss: 0.3564 - val_accuracy: 0.8557
Epoch 3/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3284 - accuracy: 0.8642 - val_loss: 0.3543 - val_accuracy: 0.8557
Epoch 4/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3283 - accuracy: 0.8640 - val_loss: 0.3521 - val_accuracy: 0.8557
Epoch 5/100
5359/5359 [==============================] - 1s 148us/step - loss: 0.3281 - accuracy: 0.8655 - val_loss: 0.3520 - val_accuracy: 0.8591
Epoch 6/100
5359/5359 [==============================] - 1s 149us/step - loss: 0.3280 - accuracy: 0.8628 - val_loss: 0.3526 - val_accuracy: 0.8588
Epoch 7/100
5359/5359 [==============================] - 1s 148us/step - loss: 0.3279 - accuracy: 0.8655 - val_loss: 0.3533 - val_accuracy: 0.8557
Epoch 8/100
5359/5359 [==============================] - 1s 146us/step - loss: 0.3281 - accuracy: 0.8649 - val_loss: 0.3539 - val_accuracy: 0.8550
Epoch 9/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3279 - accuracy: 0.8664 - val_loss: 0.3531 - val_accuracy: 0.8554
Epoch 10/100
5359/5359 [==============================] - 1s 148us/step - loss: 0.3274 - accuracy: 0.8642 - val_loss: 0.3525 - val_accuracy: 0.8580
Epoch 11/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3272 - accuracy: 0.8647 - val_loss: 0.3529 - val_accuracy: 0.8573
Epoch 12/100
5359/5359 [==============================] - 1s 147us/step - loss: 0.3274 - accuracy: 0.8666 - val_loss: 0.3528 - val_accuracy: 0.8550
Epoch 13/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3278 - accuracy: 0.8664 - val_loss: 0.3516 - val_accuracy: 0.8557
Epoch 14/100
5359/5359 [==============================] - 1s 145us/step - loss: 0.3272 - accuracy: 0.8658 - val_loss: 0.3559 - val_accuracy: 0.8554
Epoch 15/100
5359/5359 [==============================] - 1s 145us/step - loss: 0.3276 - accuracy: 0.8666 - val_loss: 0.3516 - val_accuracy: 0.8573
Epoch 16/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3275 - accuracy: 0.8666 - val_loss: 0.3524 - val_accuracy: 0.8565
Epoch 17/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3276 - accuracy: 0.8664 - val_loss: 0.3524 - val_accuracy: 0.8557
Epoch 18/100
5359/5359 [==============================] - 1s 157us/step - loss: 0.3275 - accuracy: 0.8660 - val_loss: 0.3530 - val_accuracy: 0.8584
Epoch 19/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3265 - accuracy: 0.8662 - val_loss: 0.3520 - val_accuracy: 0.8573
Epoch 20/100
5359/5359 [==============================] - 1s 149us/step - loss: 0.3272 - accuracy: 0.8656 - val_loss: 0.3533 - val_accuracy: 0.8569
Epoch 21/100
5359/5359 [==============================] - 1s 145us/step - loss: 0.3269 - accuracy: 0.8668 - val_loss: 0.3519 - val_accuracy: 0.8561
Epoch 22/100
5359/5359 [==============================] - 1s 144us/step - loss: 0.3268 - accuracy: 0.8671 - val_loss: 0.3536 - val_accuracy: 0.8588
Epoch 23/100
5359/5359 [==============================] - 1s 143us/step - loss: 0.3268 - accuracy: 0.8668 - val_loss: 0.3526 - val_accuracy: 0.8561
Epoch 24/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3263 - accuracy: 0.8666 - val_loss: 0.3523 - val_accuracy: 0.8561
Epoch 25/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3272 - accuracy: 0.8649 - val_loss: 0.3521 - val_accuracy: 0.8576
Epoch 26/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3262 - accuracy: 0.8649 - val_loss: 0.3530 - val_accuracy: 0.8569
Epoch 27/100
5359/5359 [==============================] - 1s 149us/step - loss: 0.3263 - accuracy: 0.8662 - val_loss: 0.3531 - val_accuracy: 0.8561
Epoch 28/100
5359/5359 [==============================] - 1s 144us/step - loss: 0.3260 - accuracy: 0.8673 - val_loss: 0.3537 - val_accuracy: 0.8561
Epoch 29/100
5359/5359 [==============================] - 1s 144us/step - loss: 0.3261 - accuracy: 0.8681 - val_loss: 0.3526 - val_accuracy: 0.8573
Epoch 30/100
5359/5359 [==============================] - 1s 149us/step - loss: 0.3262 - accuracy: 0.8670 - val_loss: 0.3529 - val_accuracy: 0.8538
Epoch 31/100
5359/5359 [==============================] - 1s 155us/step - loss: 0.3259 - accuracy: 0.8673 - val_loss: 0.3533 - val_accuracy: 0.8565
Epoch 32/100
5359/5359 [==============================] - 1s 145us/step - loss: 0.3259 - accuracy: 0.8671 - val_loss: 0.3523 - val_accuracy: 0.8591
Epoch 33/100
5359/5359 [==============================] - 1s 146us/step - loss: 0.3257 - accuracy: 0.8683 - val_loss: 0.3523 - val_accuracy: 0.8595
Epoch 34/100
5359/5359 [==============================] - 1s 149us/step - loss: 0.3260 - accuracy: 0.8664 - val_loss: 0.3516 - val_accuracy: 0.8573
Epoch 35/100
5359/5359 [==============================] - 1s 175us/step - loss: 0.3260 - accuracy: 0.8681 - val_loss: 0.3541 - val_accuracy: 0.8561
Epoch 36/100
5359/5359 [==============================] - 1s 180us/step - loss: 0.3253 - accuracy: 0.8664 - val_loss: 0.3528 - val_accuracy: 0.8610
Epoch 37/100
5359/5359 [==============================] - 1s 187us/step - loss: 0.3255 - accuracy: 0.8664 - val_loss: 0.3534 - val_accuracy: 0.8565
Epoch 38/100
5359/5359 [==============================] - 1s 195us/step - loss: 0.3253 - accuracy: 0.8677 - val_loss: 0.3539 - val_accuracy: 0.8573
Epoch 39/100
5359/5359 [==============================] - 1s 190us/step - loss: 0.3249 - accuracy: 0.8664 - val_loss: 0.3549 - val_accuracy: 0.8550
Epoch 40/100
5359/5359 [==============================] - 1s 213us/step - loss: 0.3259 - accuracy: 0.8668 - val_loss: 0.3533 - val_accuracy: 0.8584
Epoch 41/100
5359/5359 [==============================] - 1s 183us/step - loss: 0.3256 - accuracy: 0.8681 - val_loss: 0.3524 - val_accuracy: 0.8588
Epoch 42/100
5359/5359 [==============================] - 1s 196us/step - loss: 0.3249 - accuracy: 0.8656 - val_loss: 0.3536 - val_accuracy: 0.8576
Epoch 43/100
5359/5359 [==============================] - 1s 218us/step - loss: 0.3253 - accuracy: 0.8692 - val_loss: 0.3523 - val_accuracy: 0.8580
Epoch 44/100
5359/5359 [==============================] - 1s 178us/step - loss: 0.3254 - accuracy: 0.8670 - val_loss: 0.3527 - val_accuracy: 0.8554
Epoch 45/100
5359/5359 [==============================] - 1s 194us/step - loss: 0.3246 - accuracy: 0.8666 - val_loss: 0.3530 - val_accuracy: 0.8588
Epoch 46/100
5359/5359 [==============================] - 1s 148us/step - loss: 0.3252 - accuracy: 0.8662 - val_loss: 0.3535 - val_accuracy: 0.8580
Epoch 47/100
5359/5359 [==============================] - 1s 146us/step - loss: 0.3251 - accuracy: 0.8671 - val_loss: 0.3521 - val_accuracy: 0.8561
Epoch 48/100
5359/5359 [==============================] - 1s 148us/step - loss: 0.3251 - accuracy: 0.8664 - val_loss: 0.3531 - val_accuracy: 0.8538
Epoch 49/100
5359/5359 [==============================] - 1s 141us/step - loss: 0.3249 - accuracy: 0.8681 - val_loss: 0.3542 - val_accuracy: 0.8557
Epoch 50/100
5359/5359 [==============================] - 1s 145us/step - loss: 0.3252 - accuracy: 0.8679 - val_loss: 0.3534 - val_accuracy: 0.8535
Epoch 51/100
5359/5359 [==============================] - 1s 145us/step - loss: 0.3245 - accuracy: 0.8681 - val_loss: 0.3533 - val_accuracy: 0.8580
Epoch 52/100
5359/5359 [==============================] - 1s 142us/step - loss: 0.3245 - accuracy: 0.8679 - val_loss: 0.3537 - val_accuracy: 0.8569
Epoch 53/100
5359/5359 [==============================] - 1s 142us/step - loss: 0.3249 - accuracy: 0.8677 - val_loss: 0.3537 - val_accuracy: 0.8561
Epoch 54/100
5359/5359 [==============================] - 1s 145us/step - loss: 0.3249 - accuracy: 0.8668 - val_loss: 0.3522 - val_accuracy: 0.8576
Epoch 55/100
5359/5359 [==============================] - 1s 158us/step - loss: 0.3249 - accuracy: 0.8683 - val_loss: 0.3546 - val_accuracy: 0.8554
Epoch 56/100
5359/5359 [==============================] - 1s 169us/step - loss: 0.3250 - accuracy: 0.8699 - val_loss: 0.3536 - val_accuracy: 0.8565
Epoch 57/100
5359/5359 [==============================] - 1s 194us/step - loss: 0.3248 - accuracy: 0.8662 - val_loss: 0.3536 - val_accuracy: 0.8573
Epoch 58/100
5359/5359 [==============================] - 1s 170us/step - loss: 0.3242 - accuracy: 0.8684 - val_loss: 0.3536 - val_accuracy: 0.8588
Epoch 59/100
5359/5359 [==============================] - 1s 180us/step - loss: 0.3250 - accuracy: 0.8670 - val_loss: 0.3524 - val_accuracy: 0.8584
Epoch 60/100
5359/5359 [==============================] - 1s 168us/step - loss: 0.3245 - accuracy: 0.8671 - val_loss: 0.3528 - val_accuracy: 0.8576
Epoch 61/100
5359/5359 [==============================] - 1s 155us/step - loss: 0.3242 - accuracy: 0.8707 - val_loss: 0.3535 - val_accuracy: 0.8561
Epoch 62/100
5359/5359 [==============================] - 1s 162us/step - loss: 0.3243 - accuracy: 0.8668 - val_loss: 0.3538 - val_accuracy: 0.8591
Epoch 63/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.3249 - accuracy: 0.8666 - val_loss: 0.3551 - val_accuracy: 0.8550
Epoch 64/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3240 - accuracy: 0.8670 - val_loss: 0.3533 - val_accuracy: 0.8565
Epoch 65/100
5359/5359 [==============================] - 1s 148us/step - loss: 0.3243 - accuracy: 0.8684 - val_loss: 0.3545 - val_accuracy: 0.8535
Epoch 66/100
5359/5359 [==============================] - 1s 145us/step - loss: 0.3237 - accuracy: 0.8679 - val_loss: 0.3537 - val_accuracy: 0.8591
Epoch 67/100
5359/5359 [==============================] - 1s 147us/step - loss: 0.3242 - accuracy: 0.8696 - val_loss: 0.3545 - val_accuracy: 0.8554
Epoch 68/100
5359/5359 [==============================] - 1s 146us/step - loss: 0.3246 - accuracy: 0.8679 - val_loss: 0.3544 - val_accuracy: 0.8565
Epoch 69/100
5359/5359 [==============================] - 1s 149us/step - loss: 0.3241 - accuracy: 0.8681 - val_loss: 0.3534 - val_accuracy: 0.8573
Epoch 70/100
5359/5359 [==============================] - 1s 148us/step - loss: 0.3247 - accuracy: 0.8668 - val_loss: 0.3531 - val_accuracy: 0.8565
Epoch 71/100
5359/5359 [==============================] - 1s 146us/step - loss: 0.3240 - accuracy: 0.8679 - val_loss: 0.3533 - val_accuracy: 0.8599
Epoch 72/100
5359/5359 [==============================] - 1s 149us/step - loss: 0.3245 - accuracy: 0.8690 - val_loss: 0.3539 - val_accuracy: 0.8565
Epoch 73/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3243 - accuracy: 0.8670 - val_loss: 0.3533 - val_accuracy: 0.8576
Epoch 74/100
5359/5359 [==============================] - 1s 144us/step - loss: 0.3242 - accuracy: 0.8675 - val_loss: 0.3537 - val_accuracy: 0.8557
Epoch 75/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3235 - accuracy: 0.8690 - val_loss: 0.3564 - val_accuracy: 0.8561
Epoch 76/100
5359/5359 [==============================] - 1s 146us/step - loss: 0.3244 - accuracy: 0.8642 - val_loss: 0.3528 - val_accuracy: 0.8591
Epoch 77/100
5359/5359 [==============================] - 1s 145us/step - loss: 0.3242 - accuracy: 0.8681 - val_loss: 0.3533 - val_accuracy: 0.8576
Epoch 78/100
5359/5359 [==============================] - 1s 145us/step - loss: 0.3233 - accuracy: 0.8675 - val_loss: 0.3567 - val_accuracy: 0.8550
Epoch 79/100
5359/5359 [==============================] - 1s 147us/step - loss: 0.3239 - accuracy: 0.8673 - val_loss: 0.3541 - val_accuracy: 0.8550
Epoch 80/100
5359/5359 [==============================] - 1s 147us/step - loss: 0.3238 - accuracy: 0.8690 - val_loss: 0.3551 - val_accuracy: 0.8557
Epoch 81/100
5359/5359 [==============================] - 1s 147us/step - loss: 0.3238 - accuracy: 0.8696 - val_loss: 0.3539 - val_accuracy: 0.8576
Epoch 82/100
5359/5359 [==============================] - 1s 143us/step - loss: 0.3242 - accuracy: 0.8675 - val_loss: 0.3529 - val_accuracy: 0.8580
Epoch 83/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3238 - accuracy: 0.8688 - val_loss: 0.3534 - val_accuracy: 0.8573
Epoch 84/100
5359/5359 [==============================] - 1s 162us/step - loss: 0.3236 - accuracy: 0.8675 - val_loss: 0.3537 - val_accuracy: 0.8603
Epoch 85/100
5359/5359 [==============================] - 1s 158us/step - loss: 0.3233 - accuracy: 0.8690 - val_loss: 0.3539 - val_accuracy: 0.8584
Epoch 86/100
5359/5359 [==============================] - 1s 155us/step - loss: 0.3236 - accuracy: 0.8696 - val_loss: 0.3537 - val_accuracy: 0.8573
Epoch 87/100
5359/5359 [==============================] - 1s 157us/step - loss: 0.3238 - accuracy: 0.8675 - val_loss: 0.3558 - val_accuracy: 0.8557
Epoch 88/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3233 - accuracy: 0.8681 - val_loss: 0.3546 - val_accuracy: 0.8569
Epoch 89/100
5359/5359 [==============================] - 1s 158us/step - loss: 0.3234 - accuracy: 0.8692 - val_loss: 0.3533 - val_accuracy: 0.8573
Epoch 90/100
5359/5359 [==============================] - 1s 157us/step - loss: 0.3234 - accuracy: 0.8690 - val_loss: 0.3528 - val_accuracy: 0.8576
Epoch 91/100
5359/5359 [==============================] - 1s 159us/step - loss: 0.3238 - accuracy: 0.8666 - val_loss: 0.3543 - val_accuracy: 0.8588
Epoch 92/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3235 - accuracy: 0.8677 - val_loss: 0.3540 - val_accuracy: 0.8584
Epoch 93/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3237 - accuracy: 0.8690 - val_loss: 0.3544 - val_accuracy: 0.8557
Epoch 94/100
5359/5359 [==============================] - 1s 160us/step - loss: 0.3234 - accuracy: 0.8696 - val_loss: 0.3537 - val_accuracy: 0.8550
Epoch 95/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3230 - accuracy: 0.8686 - val_loss: 0.3541 - val_accuracy: 0.8569
Epoch 96/100
5359/5359 [==============================] - 1s 147us/step - loss: 0.3236 - accuracy: 0.8694 - val_loss: 0.3536 - val_accuracy: 0.8561
Epoch 97/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3227 - accuracy: 0.8670 - val_loss: 0.3533 - val_accuracy: 0.8561
Epoch 98/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3229 - accuracy: 0.8683 - val_loss: 0.3544 - val_accuracy: 0.8588
Epoch 99/100
5359/5359 [==============================] - 1s 146us/step - loss: 0.3234 - accuracy: 0.8692 - val_loss: 0.3535 - val_accuracy: 0.8573
Epoch 100/100
5359/5359 [==============================] - 1s 143us/step - loss: 0.3225 - accuracy: 0.8692 - val_loss: 0.3537 - val_accuracy: 0.8554