##### Keras :
         * Keras is an open-source neural-network library written in Python. It is capable of running on top of TensorFlow, Microsoft Cognitive Toolkit, Theano, or PlaidML. Designed to enable fast experimentation with deep neural networks, it focuses on being user-friendly, modular, and extensible.

#### Tensorflow :
    * TensorFlow is a free and open-source software library for dataflow and differentiable programming across a range of tasks. It is a symbolic math library, and is also used for machine learning applications such as neural networks.

### Artificial Neural Network

In [1]:
# part 1 - Data Preprocessing

In [2]:
# importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
# Importing the dataset
dataset = pd.read_csv("data/Churn_Modelling.csv")
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
dataset.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [5]:
X = dataset.iloc[:,3:13]
y = dataset.iloc[:,-1]

In [6]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [7]:
# Create Dummy variables...
geography = pd.get_dummies(X["Geography"],drop_first=True)
gender = pd.get_dummies(X['Gender'],drop_first=True) # drop_first : it drop first dummy for multicoleanerity reason....

In [8]:
# Concatenate the Data Frames
X = pd.concat([X,geography,gender],axis=1)
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0

In [9]:
# Drop Unnecessary columns
X = X.drop(columns=['Geography','Gender'],axis=1)

In [10]:
X.head()
# X.columns

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [11]:
# Spliting dataset into traing set to testing set....
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [12]:
# Feature Scaling 
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [13]:
# part 2 - Now let's make ANN

In [14]:
# Importing the keras libraries and packages..
import keras
from keras.models import Sequential  # most use...
from keras.layers import Dense   # for creating hidden layers use it..
# from keras.layers import LeakyReLU,PReLU,ELU 
from keras.layers import Dropout

Using TensorFlow backend.

In [15]:
# Initialising the ANN
classifier = Sequential()

In [16]:
# Adding the input layer and the first hidden layer..
classifier.add(Dense(units=6, kernel_initializer="he_uniform",activation='relu',input_dim=11))

WARNING:tensorflow:From C:\Users\91911\Anaconda3\lib\site-packages\tensorflow\python\ops\resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [17]:
# Adding the second hidden layer
classifier.add(Dense(units=6, kernel_initializer="he_uniform", activation='relu'))

In [18]:
# Adding the output layer
classifier.add(Dense(units=1, kernel_initializer="glorot_uniform", activation='sigmoid'))

In [21]:
# compiling the ANN
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [22]:
classifier.summary() # get the summary

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 6)                 72
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Fitting the ANN to the Training set 
model_history = classifier.fit(X_train, y_train, validation_split=0.33, batch_size=10, nb_epoch=100)

C:\Users\91911\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

WARNING:tensorflow:From C:\Users\91911\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 5359 samples, validate on 2641 samples
Epoch 1/100
5359/5359 [==============================] - 2s 370us/step - loss: 0.6444 - accuracy: 0.6505 - val_loss: 0.4835 - val_accuracy: 0.7989
Epoch 2/100
5359/5359 [==============================] - 1s 105us/step - loss: 0.4509 - accuracy: 0.8093 - val_loss: 0.4513 - val_accuracy: 0.8084
Epoch 3/100
5359/5359 [==============================] - 1s 105us/step - loss: 0.4283 - accuracy: 0.8190 - val_loss: 0.4383 - val_accuracy: 0.8111
Epoch 4/100
5359/5359 [==============================] - 1s 105us/step - loss: 0.4155 - accuracy: 0.8250 - val_loss: 0.4272 - val_accuracy: 0.8179
Epoch 5/100
5359/5359 [==============================] - ETA: 0s - loss: 0.4041 - accuracy: 0.83 - 1s 103us/step - loss: 0.4040 - accuracy: 0.8300 - val_loss: 0.4177 - val_accuracy: 0.8201
Epoch 6/100
5359/5359 [==============================] - 1s 107us/step - loss: 0.3938 - accuracy: 0.8309 - val_loss: 0.4097 - val_accuracy: 0.8258
Epoch 7/100
5359/5359 [==============================] - 1s 105us/step - loss: 0.3833 - accuracy: 0.8380 - val_loss: 0.4008 - val_accuracy: 0.8254
Epoch 8/100
5359/5359 [==============================] - 1s 107us/step - loss: 0.3744 - accuracy: 0.8423 - val_loss: 0.3933 - val_accuracy: 0.8300
Epoch 9/100
5359/5359 [==============================] - 1s 103us/step - loss: 0.3664 - accuracy: 0.8457 - val_loss: 0.3871 - val_accuracy: 0.8379
Epoch 10/100
5359/5359 [==============================] - 1s 107us/step - loss: 0.3604 - accuracy: 0.8503 - val_loss: 0.3813 - val_accuracy: 0.8368
Epoch 11/100
5359/5359 [==============================] - 1s 104us/step - loss: 0.3545 - accuracy: 0.8545 - val_loss: 0.3800 - val_accuracy: 0.8406
Epoch 12/100
5359/5359 [==============================] - 1s 105us/step - loss: 0.3512 - accuracy: 0.8558 - val_loss: 0.3775 - val_accuracy: 0.8391
Epoch 13/100
5359/5359 [==============================] - 1s 106us/step - loss: 0.3478 - accuracy: 0.8576 - val_loss: 0.3759 - val_accuracy: 0.8463
Epoch 14/100
5359/5359 [==============================] - 1s 122us/step - loss: 0.3459 - accuracy: 0.8580 - val_loss: 0.3759 - val_accuracy: 0.8432
Epoch 15/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3446 - accuracy: 0.8580 - val_loss: 0.3756 - val_accuracy: 0.8429
Epoch 16/100
5359/5359 [==============================] - 1s 98us/step - loss: 0.3433 - accuracy: 0.8593 - val_loss: 0.3744 - val_accuracy: 0.8489
Epoch 17/100
5359/5359 [==============================] - 1s 108us/step - loss: 0.3425 - accuracy: 0.8591 - val_loss: 0.3758 - val_accuracy: 0.8444
Epoch 18/100
5359/5359 [==============================] - 1s 102us/step - loss: 0.3418 - accuracy: 0.8606 - val_loss: 0.3747 - val_accuracy: 0.8459
Epoch 19/100
5359/5359 [==============================] - 1s 113us/step - loss: 0.3411 - accuracy: 0.8591 - val_loss: 0.3739 - val_accuracy: 0.8501
Epoch 20/100
5359/5359 [==============================] - 1s 95us/step - loss: 0.3397 - accuracy: 0.8614 - val_loss: 0.3799 - val_accuracy: 0.8417
Epoch 21/100
5359/5359 [==============================] - 1s 96us/step - loss: 0.3393 - accuracy: 0.8569 - val_loss: 0.3735 - val_accuracy: 0.8497
Epoch 22/100
5359/5359 [==============================] - 1s 97us/step - loss: 0.3395 - accuracy: 0.8595 - val_loss: 0.3732 - val_accuracy: 0.8508
Epoch 23/100
5359/5359 [==============================] - 1s 121us/step - loss: 0.3388 - accuracy: 0.8600 - val_loss: 0.3718 - val_accuracy: 0.8489
Epoch 24/100
5359/5359 [==============================] - 1s 132us/step - loss: 0.3387 - accuracy: 0.8580 - val_loss: 0.3713 - val_accuracy: 0.8497
Epoch 25/100
5359/5359 [==============================] - 1s 106us/step - loss: 0.3380 - accuracy: 0.8597 - val_loss: 0.3704 - val_accuracy: 0.8508
Epoch 26/100
5359/5359 [==============================] - 1s 101us/step - loss: 0.3378 - accuracy: 0.8595 - val_loss: 0.3722 - val_accuracy: 0.8501
Epoch 27/100
5359/5359 [==============================] - 1s 118us/step - loss: 0.3377 - accuracy: 0.8632 - val_loss: 0.3702 - val_accuracy: 0.8538
Epoch 28/100
5359/5359 [==============================] - 1s 104us/step - loss: 0.3363 - accuracy: 0.8623 - val_loss: 0.3696 - val_accuracy: 0.8508
Epoch 29/100
5359/5359 [==============================] - 1s 107us/step - loss: 0.3362 - accuracy: 0.8587 - val_loss: 0.3714 - val_accuracy: 0.8474
Epoch 30/100
5359/5359 [==============================] - 1s 103us/step - loss: 0.3362 - accuracy: 0.8599 - val_loss: 0.3694 - val_accuracy: 0.8497
Epoch 31/100
5359/5359 [==============================] - 1s 113us/step - loss: 0.3359 - accuracy: 0.8614 - val_loss: 0.3664 - val_accuracy: 0.8531
Epoch 32/100
5359/5359 [==============================] - 1s 101us/step - loss: 0.3353 - accuracy: 0.8580 - val_loss: 0.3669 - val_accuracy: 0.8504
Epoch 33/100
5359/5359 [==============================] - 1s 101us/step - loss: 0.3349 - accuracy: 0.8614 - val_loss: 0.3656 - val_accuracy: 0.8508
Epoch 34/100
5359/5359 [==============================] - 1s 108us/step - loss: 0.3343 - accuracy: 0.8625 - val_loss: 0.3665 - val_accuracy: 0.8512
Epoch 35/100
5359/5359 [==============================] - 1s 94us/step - loss: 0.3338 - accuracy: 0.8597 - val_loss: 0.3660 - val_accuracy: 0.8516
Epoch 36/100
5359/5359 [==============================] - 1s 107us/step - loss: 0.3336 - accuracy: 0.8593 - val_loss: 0.3628 - val_accuracy: 0.8569
Epoch 37/100
5359/5359 [==============================] - 1s 100us/step - loss: 0.3328 - accuracy: 0.8604 - val_loss: 0.3635 - val_accuracy: 0.8516
Epoch 38/100
5359/5359 [==============================] - 1s 107us/step - loss: 0.3326 - accuracy: 0.8602 - val_loss: 0.3643 - val_accuracy: 0.8512
Epoch 39/100
5359/5359 [==============================] - 1s 102us/step - loss: 0.3325 - accuracy: 0.8612 - val_loss: 0.3628 - val_accuracy: 0.8535
Epoch 40/100
5359/5359 [==============================] - 1s 103us/step - loss: 0.3322 - accuracy: 0.8628 - val_loss: 0.3614 - val_accuracy: 0.8550
Epoch 41/100
5359/5359 [==============================] - 1s 110us/step - loss: 0.3322 - accuracy: 0.8602 - val_loss: 0.3603 - val_accuracy: 0.8546
Epoch 42/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3311 - accuracy: 0.8615 - val_loss: 0.3603 - val_accuracy: 0.8565
Epoch 43/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3306 - accuracy: 0.8632 - val_loss: 0.3651 - val_accuracy: 0.8519
Epoch 44/100
5359/5359 [==============================] - 1s 100us/step - loss: 0.3304 - accuracy: 0.8615 - val_loss: 0.3602 - val_accuracy: 0.8527
Epoch 45/100
5359/5359 [==============================] - 1s 96us/step - loss: 0.3309 - accuracy: 0.8619 - val_loss: 0.3605 - val_accuracy: 0.8550
Epoch 46/100
5359/5359 [==============================] - 1s 103us/step - loss: 0.3298 - accuracy: 0.8632 - val_loss: 0.3603 - val_accuracy: 0.8561
Epoch 47/100
5359/5359 [==============================] - 1s 103us/step - loss: 0.3306 - accuracy: 0.8589 - val_loss: 0.3593 - val_accuracy: 0.8557
Epoch 48/100
5359/5359 [==============================] - 1s 96us/step - loss: 0.3299 - accuracy: 0.8623 - val_loss: 0.3584 - val_accuracy: 0.8554
Epoch 49/100
5359/5359 [==============================] - 1s 101us/step - loss: 0.3298 - accuracy: 0.8595 - val_loss: 0.3588 - val_accuracy: 0.8561
Epoch 50/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3292 - accuracy: 0.8617 - val_loss: 0.3607 - val_accuracy: 0.8531
Epoch 51/100
5359/5359 [==============================] - 1s 103us/step - loss: 0.3292 - accuracy: 0.8604 - val_loss: 0.3587 - val_accuracy: 0.8565
Epoch 52/100
5359/5359 [==============================] - 1s 98us/step - loss: 0.3292 - accuracy: 0.8645 - val_loss: 0.3590 - val_accuracy: 0.8538
Epoch 53/100
5359/5359 [==============================] - 1s 103us/step - loss: 0.3290 - accuracy: 0.8614 - val_loss: 0.3588 - val_accuracy: 0.8576
Epoch 54/100

5359/5359 [==============================] - 1s 96us/step - loss: 0.3282 - accuracy: 0.8608 - val_loss: 0.3566 - val_accuracy: 0.8603
Epoch 55/100
5359/5359 [==============================] - 1s 101us/step - loss: 0.3282 - accuracy: 0.8628 - val_loss: 0.3576 - val_accuracy: 0.8576
Epoch 56/100
5359/5359 [==============================] - 1s 103us/step - loss: 0.3283 - accuracy: 0.8617 - val_loss: 0.3570 - val_accuracy: 0.8584
Epoch 57/100
5359/5359 [==============================] - ETA: 0s - loss: 0.3281 - accuracy: 0.86 - 1s 101us/step - loss: 0.3277 - accuracy: 0.8640 - val_loss: 0.3563 - val_accuracy: 0.8588
Epoch 58/100
5359/5359 [==============================] - 1s 107us/step - loss: 0.3282 - accuracy: 0.8643 - val_loss: 0.3564 - val_accuracy: 0.8546
Epoch 59/100
5359/5359 [==============================] - 1s 101us/step - loss: 0.3277 - accuracy: 0.8634 - val_loss: 0.3566 - val_accuracy: 0.8588
Epoch 60/100
5359/5359 [==============================] - ETA: 0s - loss: 0.3264 - accuracy: 0.86 - 1s 103us/step - loss: 0.3273 - accuracy: 0.8640 - val_loss: 0.3569 - val_accuracy: 0.8546
Epoch 61/100
5359/5359 [==============================] - 1s 102us/step - loss: 0.3275 - accuracy: 0.8615 - val_loss: 0.3572 - val_accuracy: 0.8546
Epoch 62/100
5359/5359 [==============================] - 1s 102us/step - loss: 0.3266 - accuracy: 0.8643 - val_loss: 0.3588 - val_accuracy: 0.8554
Epoch 63/100
5359/5359 [==============================] - 1s 104us/step - loss: 0.3274 - accuracy: 0.8636 - val_loss: 0.3577 - val_accuracy: 0.8538
Epoch 64/100
5359/5359 [==============================] - 1s 108us/step - loss: 0.3267 - accuracy: 0.8649 - val_loss: 0.3572 - val_accuracy: 0.8588
Epoch 65/100
5359/5359 [==============================] - 1s 118us/step - loss: 0.3269 - accuracy: 0.8643 - val_loss: 0.3559 - val_accuracy: 0.8614
Epoch 66/100
5359/5359 [==============================] - 1s 97us/step - loss: 0.3270 - accuracy: 0.8647 - val_loss: 0.3557 - val_accuracy: 0.8576
Epoch 67/100
5359/5359 [==============================] - 1s 117us/step - loss: 0.3268 - accuracy: 0.8662 - val_loss: 0.3555 - val_accuracy: 0.8573
Epoch 68/100
5359/5359 [==============================] - 1s 100us/step - loss: 0.3265 - accuracy: 0.8651 - val_loss: 0.3562 - val_accuracy: 0.8565
Epoch 69/100
5359/5359 [==============================] - 1s 103us/step - loss: 0.3267 - accuracy: 0.8651 - val_loss: 0.3567 - val_accuracy: 0.8550
Epoch 70/100
5359/5359 [==============================] - 1s 102us/step - loss: 0.3269 - accuracy: 0.8666 - val_loss: 0.3571 - val_accuracy: 0.8546
Epoch 71/100
5359/5359 [==============================] - 1s 98us/step - loss: 0.3265 - accuracy: 0.8668 - val_loss: 0.3566 - val_accuracy: 0.8554
Epoch 72/100
5359/5359 [==============================] - 1s 112us/step - loss: 0.3264 - accuracy: 0.8660 - val_loss: 0.3562 - val_accuracy: 0.8557
Epoch 73/100
5359/5359 [==============================] - 1s 96us/step - loss: 0.3262 - accuracy: 0.8645 - val_loss: 0.3550 - val_accuracy: 0.8614
Epoch 74/100
 590/5359 [==>...........................] - ETA: 0s - loss: 0.2798 - accuracy: 0.8932